<h2>Resultado da Busca por: <%= @code %></h2>

<% if @orders.count == 0 %>
  <%= I18n.t('no_order_found') %>
<%else%>
  <%= "#{I18n.t('number_of_orders')} #{@orders.count}"%>
  <% @orders.each do |order| %>
    <%= render order %>
  <%end%>
<%end%>
